diffusers
docarray[full]
fastapi
langchain==0.1.12
langchain_benchmarks
langsmith
moviepy
opencv-python
openai-whisper
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-sdk
optimum[habana]
Pillow
prometheus-fastapi-instrumentator
pydantic==2.8.2
redis
transformers
shortuuid
webvtt-py
